# General Ignore Rules
.DS_Store
*.log

# Environments (Crucial for Venv and .env)
# The virtual environment is named 'venv/' or '.venv' locally
venv/
.venv
.env                # DO NOT COMMIT SECRETS!
.envrc
.cache

# Byte-compiled / temporary files
__pycache__/
*.py[cod]

# IDE Files (You can uncomment if you use these IDEs)
# .idea/             # PyCharm / JetBrains
# .vscode/           # Visual Studio Code

# Packaging / Distribution
dist/
build/
*.egg-info/
*.whl

# Testing & Coverage
htmlcov/
.coverage
.pytest_cache/
nosetests.xml
coverage.xml

# Mypy / Type Checking
.mypy_cache/

# Ruff
.ruff_cache/